<?xml version='1.0' encoding='utf-8'?>
<plugin id="pasco-cordova-plugin" version="0.0.7" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>NativeAccessApi</name>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="NativeAccessApi">
                <param name="ios-package" value="NativeAccessApi" />
            </feature>
        </config-file>
        <header-file src="src/ios/NativeAccessApi.h" />
        <source-file src="src/ios/NativeAccessApi.m" />
    </platform>
</plugin>
